html{
    scroll-behavior: smooth;
    scrollbar-color:#b5855b rgb(234, 221, 202);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.leftAside{
    background-color: #ecd2bc;
    width: 15%;
    padding: 21px 14px;
    height: 88%;
    margin: 10px;
    position: fixed;
    overflow: visible;
    border-radius: 5px;
    
}
.content img{
    display: block;
    height: 40px;
    object-fit: contain;
    transition: opacity .15s ease;
}
.content h1{
    font-size: 20px;
}
.item{
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
    text-decoration: none;
    
}
.content{
    justify-content: center;
    width: 100%;
    height: 60%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.logoimg{
    margin-top: 20px;
    display: block;
    width: 100%;
    height: auto;
    max-width: 194px;
}
.sidebar{
    border: 2px dashed #DAA06D;
    height: 100%;
}
.cardsMain{
    padding: 1.25rem 2rem 4rem;
    width: 70%;
    margin-left: 20%;
}
.sidebarBottom{
    z-index: 999999;
    height: 200px;
    margin-top: -200px;
}
.input{
    border: none;
    color: black;
    font-size: 1.05rem;
    height: 100%;
    width: 100%;
    outline: none;
}
.search{
    border: 2px solid #b5855b;
    border-radius: 8px;
    font-family: inherit;
    height: 48px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
}
.icon{
    height: 30px;
}

/*cards*/
.containerCards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
}
.card1{
    color: #1b4824;
    background-color: #7ab09b;
    height: 370px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.card1 img{
    width: 250px;
    height: 250px;
    margin-top: -15px;
    margin-left: -10px;
}
.card2{
    color: #ac3c3c;
    background-color: #e39d9d;
    height: 370px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card2 img{
    width: 250px;
    height: 250px;
    margin-top: -15px;
    margin-left: -10px;
}
.card3{
    color: #925f31;
    background-color: #ebc09b;
    height: 370px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.card3 img{
    width: 250px;
    height: 250px;
    margin-top: -15px;
    margin-left: -10px;
}
.anfibio{
    outline: none;
    color: #2e5f38;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px dashed  #7ab09b;
    border-radius: 15px;
    background-color: #93c2b0;
    box-shadow: 0 0 0 4px #9bc7a4, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out;
}
.fungo{
    outline: none;
    color: #da6d6d;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px dashed #da6d6d;
    border-radius: 15px;
    background-color: #eacaca;
    box-shadow: 0 0 0 4px #eacaca, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out;
}
.insetos{
    outline: none;
    color: #DAA06D;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out;
}
.anfibio:hover{
    transform: translateX(0.1rem) translateY(0.1rem);
}
.fungo:hover{
    transform: translateX(0.1rem) translateY(0.1rem);
}
.insetos:hover{
    transform: translateX(0.1rem) translateY(0.1rem);
}
