html{
    scroll-behavior: smooth;
    scrollbar-color: #b5855b rgb(234, 221, 202);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: transparent;
    z-index: 9999;
    padding: 35px 42px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(30px); 
}
.logo{
    height: 40px;
}
.btnHeader{
    outline: none;
    color: #DAA06D;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out;
}
.btnHeader:hover{
    transform: translateX(0.1rem) translateY(0.1rem);
}




.imgCircles{
    display: flex;
    flex-direction: column;
}
.img{
    height: 400px;
    width: 500px;
    margin-top: 10px;
}
.imgB{
    height: 30px;
    margin-bottom: -20px;
    margin-left: -30px;
}
.imgB:hover{
    animation: chacoalhar 1.7s ease-in-out infinite;
}

@keyframes chacoalhar {
    0% { transform: translateX(0) rotate(0deg); }
    25% { transform: translateX(-6px) rotate(-25deg); } 
    50% { transform: translateX(6px) rotate(25deg); }   
    75% { transform: translateX(-3px) rotate(-9deg); }  
    100% { transform: translateX(0) rotate(0deg); }
}

.imgA{
    height: 50px;
    margin-bottom: 360px;
    margin-left: -50px;
}
.circlesOptions{
    display: flex;
    justify-content: center;
}
.circlesOptions img{
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-right: 20px;
    border-radius: 100px;
    border: 2px dashed #b37b4b;
}
.textDrop {
  position: relative;
}
.containerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    display: flex;
    gap: 100px;
    background-color: #e7a66d;
    border: 2px dashed #b37b4b;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 9999;
}

.textDrop:hover .dropdown-content {
  display: block;
}
.textDrop{
    background-color: #b37b4b;
    width: 400px;
    height: 80px;
    border: 2px dashed #DAA06D;
}
.textDrop h1{
    margin-left: 50px;
}
.dropdown{
    display: flex;
    flex-direction: column;
}
.title{
    margin-bottom: 100px;
}



.gallery{
    display: flex;
    margin-left: 30px;
}
.galleryContainer h1{
    margin-left: 50px;
    margin-bottom: 30px;
}
.img1 img{
    height: 180px;
}
.img1{
    background-color: #e7a66d;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-right: 30px;
    transform: rotate(3deg); 
}
.img1:hover{
    transform: scale(1.4); ;
}
.img2 img{
    height: 180px;
}
.img2{
    background-color: #2874c1;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-right: 30px;
}
.img2:hover{
    transform: scale(1.4); ;
}
.img3 img{
    height: 180px;
}
.img3{
    background-color: #e76ddf;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-right: 30px;
}
.img3:hover{
    transform: scale(1.4); ;
}
.img4 img{
    height: 180px;
}
.img4{
    background-color: #6f6de7;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-right: 30px;
    transform: rotate(-3deg); 
}
.img4:hover{
    transform: scale(1.4); ;
}
.img5 img{
    height: 180px;
}
.img5{
    background-color: #90e76d;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-right: 30px;
}
.img5:hover{
    transform: scale(1.4); ;
}
.img6 img{
    height: 180px;
}
.img6{
    background-color: #6dd1e7;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-right: 20px;
}
.img6:hover{
    transform: scale(1.4); ;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 70px;
    margin-right: 50px;
    margin-bottom: 70px;
}
.textAbout{
    margin-top: 70px;
    margin-left: 50px;
}

/*footer*/
.footer{
    background-color: rgb(114, 114, 114);
    bottom: 0;
    margin-top: 40px;
}
.imgFooterBackround img{
    width: 100%;
    height: 300px;
}
.bellowPart img{
    height: 100px;
    width: 105px;
}
.bellowPart h1{
    font-size: smaller;
}
.bellowPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tooltip{
    position:relative;
    display:inline-block;
    cursor: pointer;
}
.tooltipText{
    visibility: hidden;
    width: 130px;
    background-color: #7d5029;
    color: #EADDCA;
    text-align: center;
    padding: 5px 0;
    border: 2px solid #4f3319;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: -10px;
}
.tooltip:hover .tooltipText {
  visibility: visible;
}
